body {
    font-family: Arial;
}

div.cabinet, div.config, div.romlist, div.patchlist, div.sramlist, div.gamelist, div.romconfig, div.game, div.outlet {
    margin: 20px;
    border: 1px solid #bbbbbb;
    padding: 20px;
}

div.cabinet dl, div.romconfig dl, div.outlet dl {
    margin: 0px;
    display: grid;
    grid-template-columns: max-content auto;
}

div.cabinet dt, div.romconfig dt, div.outlet dt {
    grid-column-start: 1;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

div.cabinet dd, div.romconfig dd, div.outlet dd {
    grid-column-start: 2;
    padding-top: 5px;
    padding-bottom: 5px;
}

div.cabinet div.configure {
    padding-top: 5px;
}

div.cabinet div.update {
    padding-top: 5px;
}

div.cabinet div.query {
    padding-top: 5px;
}

div.cabinet h3, div.romlist h3, div.patchlist h3, div.sramlist h3, div.gamelist h3, div.romconfig h3, div.game h3, div.outlet h3 {
    margin: 0px 0px 5px 0px;
}

div.patch {
    padding-bottom: 5px;
}

div.patch h4 {
    margin: 0px 0px 5px 0px;
}

div.settingscollection h4 {
    margin-top: 5px;
}

div.rom, div.file, div.patches {
    margin-left: 15px;
}

div.settings {
    margin-left: 15px;
}

div.settings table td:first-child {
    border-right: 40px solid transparent;
    background-clip: padding-box;
}

div.romconfig input {
    width: 100%;
}

div.patch select {
    margin-top: 3px;
}

div.information {
    padding-top: 10px;
}

div.information.top {
    padding-bottom: 10px;
}

a.button, button {
    display: inline-block;
    text-align: center;
    border: 1px solid #777777;
    border-radius: 5px;
    color: white;
    font-weight: normal;
    font-size: 14px;
    text-decoration: none;
    background: #4E9CAF;
    padding: 5px 15px;
}

a.smallbutton, button.small {
    display: inline-block;
    text-align: center;
    border: 1px solid #777777;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    background: #4E9CAF;
    padding: 3px 10px;
}

a.button:disabled, a.smallbutton:disabled, button:disabled, button.small:disabled {
    background: #aaaaaa;
}

span.successindicator {
    margin-left: 5px;
    color: green;
}

span.savingindicator {
    margin-left: 5px;
}

span.errorindicator {
    margin-left: 5px;
    color: red;
}

span.right {
    margin-left: 5px;
}

.italics {
    font-style: italic;
}
