.hg/
.hgignore
*.swp
*.swo
.mypy_cache/
__pycache__/
*.yaml
build/
libnaomi.a
MANIFEST.in
build/
dist/
sdist/
wheels/
*.egg-info/
*.egg
MANIFEST
homebrew/examples/hellonaomi/hellonaomi.bin
homebrew/examples/hellocpp/hellocpp.bin
homebrew/examples/inputtest/inputtest.bin
homebrew/examples/eepromtest/eepromtest.bin
homebrew/examples/audiotest/audiotest.bin
homebrew/examples/netdimm/netdimm.bin
