[Unit]
Description=Net Dimm Naomi Menu Service
After=network.target

[Service]
Type=simple
Restart=always
User=root
Group=root
WorkingDirectory=/home/pi/netboot/
ExecStart=/home/pi/netboot/services/menu.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
