<html>
    <head>
        <title>Game Config :: NetBoot Web UI</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}"></link>
        <script src="{{ url_for('static', filename='axios.js') }}"></script>
        <script src="{{ url_for('static', filename='vue.js') }}"></script>
        <script src="{{ url_for('static', filename='app.js') }}"></script>
        <script>
            window.cabinet = {{ cabinet|tojson|safe }};
            window.regions = {{ regions|tojson|safe }};
            window.targets = {{ targets|tojson|safe }};
            window.versions = {{ versions|tojson|safe }};
            window.timeouts = {{ timeouts|tojson|safe }};
            window.outlets = {{ outlets|tojson|safe }};
            window.addEventListener("load", function(event) {
                new Vue({el: '#app'});
            });
        </script>
    </head>
    <body>
        <div id="app">
            <cabinetconfig></cabinetconfig>
            <outletconfig></outletconfig>
            <availablegames></availablegames>
            <div class="config">
                <div>
                    <a class="button" href="{{ url_for('home') }}">Back To Home</a>
                </div>
            </div>
        </div>
    </body>
</html>
