<html>
    <head>
        <title>Overview :: NetBoot Web UI</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}"></link>
        <script src="{{ url_for('static', filename='axios.js') }}"></script>
        <script src="{{ url_for('static', filename='vue.js') }}"></script>
        <script src="{{ url_for('static', filename='app.js') }}"></script>
        <script>
            window.cabinets = {{ cabinets|tojson|safe }};
            window.addEventListener("load", function(event) {
                new Vue({el: '#app'});
            });
        </script>
    </head>
    <body>
        <div id="app">
            <cabinetlist></cabinetlist>
            <systemconfig></systemconfig>
        </div>
    </body>
</html>
