<html>
    <head>
        <title>ROM Configuration :: NetBoot Web UI</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}"></link>
        <script src="{{ url_for('static', filename='axios.js') }}"></script>
        <script src="{{ url_for('static', filename='vue.js') }}"></script>
        <script src="{{ url_for('static', filename='app.js') }}"></script>
        <script>
            window.filename = {{ filename|tojson|safe }};
            window.names = {{ names|tojson|safe }};
            window.addEventListener("load", function(event) {
                new Vue({el: '#app'});
            });
        </script>
    </head>
    <body>
        <div id="app">
            <romconfig></romconfig>
            <availablepatches></availablepatches>
            <availablesrams></availablesrams>
            <availabledefinitions></availabledefinitions>
            <div class="config">
                <div>
                    <a class="button" href="{{ url_for('systemconfig') }}">Back To System Config</a>
                </div>
            </div>
        </div>
    </body>
</html>
