<html>
    <head>
        <title>System Config :: NetBoot Web UI</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}"></link>
        <script src="{{ url_for('static', filename='axios.js') }}"></script>
        <script src="{{ url_for('static', filename='vue.js') }}"></script>
        <script src="{{ url_for('static', filename='app.js') }}"></script>
        <script>
            window.roms = {{ roms|tojson|safe }};
            window.patches = {{ patches|tojson|safe }};
            window.addEventListener("load", function(event) {
                new Vue({el: '#app'});
            });
        </script>
    </head>
    <body>
        <div id="app">
            <romlist></romlist>
            <patchlist></patchlist>
            <div class="config">
                <div>
                    <a class="button" href="{{ url_for('home') }}">Back To Home</a>
                </div>
            </div>
        </div>
    </body>
</html>
